$red: #e74c3c;
$orange: #e67e22;
$yellow: #f1c40f;
$green: #2ecc71;
$blue: #3498db;
$purple: #9b59b6;

$disabled-red:    mix($red, #999);
$disabled-orange: mix($orange, #999);
$disabled-yellow: mix($yellow, #999);
$disabled-green:  mix($green, #999);
$disabled-blue:   mix($blue, #999);
$disabled-purple: mix($purple, #999);




