// header and footer
header, footer {
	background-color: $light-grey;
	position: fixed;
	left: 0;
	right: 0;
	line-height: 36px;
}

header {
	@include box-shadow($grey);
	border-bottom: 1px solid $grey;
	top: 0;
}

footer {
	border-top: 1px solid $grey;
	bottom: 0;
}

sidebar {
	position: fixed;
	left: 0;
	top: 0;
	bottom: 0;
	width: $bar-width;

	background-color: $light-grey;
}

.with-header {
	margin-top: $bar-height;
}
.with-footer {
	margin-bottom: $bar-height;
}
.with-sidebar {
	margin-left: $bar-width;
}

// main containers
.container-fixed {
	margin: 0 15px;
}

@media (max-width: $small-screen-width){
.container {
	margin: 0 15px;
}}

@media (min-width: $small-screen-width){
.container {
	width: $small-screen-width - 30px;
	margin: 0 auto;
}}

@media (min-width: $medium-screen-width){
.container {
	width: $medium-screen-width - 100px;
	margin: 0 auto;
}}

@media (min-width: $large-screen-width){
.container {
	width:  $large-screen-width - 200px;
	margin: 0 auto;
}}
